## Intro to Jupyter

We can write code and markdown in the cells. You can choose accordingly!

### Variables

In [11]:
a = 10
b = 20

sum = a+b
print(sum)

30

In [12]:
# This is a python comment

### Assigning different type of data to a variable

In [20]:
a = 10
a = 'c'

a

'c'

In [22]:
type(a)

str

### Python Numbers

In [25]:
a1 = 11
a2 = 3.4
a3 = 4 + 5j
print(a1)
print(a2)
print(a3)

11
3.4
(4+5j)

In [28]:
a = 10
print(id(a))
a = a+1
print(id(a))

140691342760528
140691342760560

In [32]:
a = 1000
b = 1000
print(id(a))
print(id(b))

140691436136752
140691436136816

In [34]:
a=10
b=3
print(a+b)
print(a-b)
print(a*b)
print(a/b) # Floating point division
print(a//b) # Integer division
print(a**b)
print(a%b)

13
7
30
3.3333333333333335
3
1000
1

In [36]:
2 + 3 * 4

14

In [38]:
2*3/4 # Does not matter in this case

1.5

In [41]:
2*3//4 # (* > //)

1

In [44]:
#  Simple interest to lower integer
p = 100
r = 4
t = 10
si = (p * r* t)//100
si

40